workflow_data/67lab_Agentic_Marketing_Engine__Master_Blueprint_v2_.json
{
  "name": "67lab Agentic Marketing Engine (Master Blueprint v2)",
  "id": "RpIfQVEBLFneDXlt",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-1",
              "name": "BASE_URL",
              "value": "https://67lab.ai",
              "type": "string"
            },
            {
              "id": "cfg-2",
              "name": "WEBHOOK_PUBLISH_URL",
              "value": "https://67lab.ai/api/webhook/publish",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-global-config",
      "name": "GLOBAL_CONFIG",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -200,
        300
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "id": "node-schedule-research",
      "name": "Schedule Research",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -450,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "body": "{\n  \"model\": \"sonar-pro\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Find today's top Trigger Events: AI breakthroughs, automation news, lab-tech trends, MCP protocol updates, and agentic workflow developments. Return structured data with fields: headline, summary, source_url, relevance_to_ai_automation (1-10).\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "node-perplexity",
      "name": "Perplexity Researcher",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        50,
        300
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Here is today's research data:\n\n={{ $json.choices[0].message.content }}\n\nMap each news item to a 67lab.ai value proposition. Output a structured JSON array.",
        "options": {
          "systemMessage": "You are the Product Logic Agent for 67lab.ai.\n\nYour job: Map every news item to a 67lab.ai value proposition.\n\nValue Props:\n- Autonomous Agents (AI agents that work 24/7)\n- MCP Protocol (Model Context Protocol for tool-use)\n- Rapid Prototyping (Build MVPs in hours, not weeks)\n- AI Voice Receptionist (Never miss a call)\n- Agentic Workflows (n8n + AI orchestration)\n\nOutput Format (JSON array):\n[\n  {\n    \"headline\": \"...\",\n    \"summary\": \"...\",\n    \"67lab_angle\": \"...\",\n    \"value_prop\": \"Autonomous Agents\",\n    \"hook\": \"A one-liner hook for social media\",\n    \"source_url\": \"...\"\n  }\n]\n\nRules:\n- Pick the TOP 2 most relevant stories only.\n- Be specific about the 67lab angle, not generic.\n- The hook must be punchy and contrarian."
        }
      },
      "id": "node-product-mapping",
      "name": "Product Mapping Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "You are Agent A (Creator) - The X Hype-Man for 67lab.ai.\n\nGoal: High-velocity engagement on X (Twitter).\nStyle: Punchy, contrarian, data-backed. Short sentences. No fluff.\n\nFormat:\n1. Hook (the news, stated provocatively)\n2. Two insight bullets (the 67lab.ai angle)\n3. Call-to-action (visit link, reply, repost)\n\nRules:\n- Max 280 characters for the main tweet.\n- Max 2 hashtags. Use threads for complex news.\n- Use line breaks for readability.\n- Never say 'game-changer', 'revolutionize', 'delve', or 'leverage'.\n- Sound like a smart founder, not a marketing bot.\n\nOutput ONLY the tweet text, nothing else."
        }
      },
      "id": "node-creator-x",
      "name": "Agent A Creator (X)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        600,
        100
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "You are Agent A (Creator) - The LinkedIn Thought Leader for 67lab.ai.\n\nGoal: Professional, visionary, B2B-focused content.\nStyle: Focus on ROI, Efficiency, Future of Industry. Credibility is king.\n\nFormat:\n1. Story/Hook (open with a surprising stat or anecdote)\n2. Why this matters (2-3 paragraphs, line-broken for mobile readability)\n3. Conclusion with a soft CTA\n\nRules:\n- 1200-1500 characters ideal.\n- Use line breaks generously for LinkedIn mobile.\n- Suggest an infographic idea in a [VISUAL_SUGGESTION] block at the end.\n- Never say 'game-changer', 'revolutionize', 'delve', or 'leverage'.\n- Sound like a CEO sharing hard-won insight, not a content marketer.\n\nOutput the LinkedIn post text, then the [VISUAL_SUGGESTION] block."
        }
      },
      "id": "node-creator-linkedin",
      "name": "Agent A Creator (LinkedIn)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        600,
        400
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "You are Agent A (Creator) - The SEO Blog Writer for 67lab.ai.\n\nGoal: Educational, long-form, optimized for search engines.\nStyle: Authoritative, informative, well-structured.\n\nFormat (Markdown):\n- H1: SEO-optimized title (include primary keyword)\n- Meta description (max 155 chars, in a [META] block)\n- Introduction (2-3 sentences, hook the reader)\n- H2 sections: Deep-dive into the technology/concept\n- H2: Why 67lab.ai cares - connect to our products\n- H2: Conclusion with CTA\n- [VISUAL_SUGGESTION]: 2-3 placements for diagrams or screenshots\n\nRules:\n- 800-1200 words ideal.\n- Use internal linking placeholders: [LINK: /products/agents], [LINK: /products/voice].\n- Never say 'game-changer', 'revolutionize', 'delve', or 'leverage'.\n- Write for humans first, search engines second.\n\nOutput the full blog post in Markdown."
        }
      },
      "id": "node-creator-webhook",
      "name": "Agent A Creator (Blog/Webhook)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        600,
        1000
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Draft to fact-check:\n\n={{ $json.output }}",
        "options": {
          "systemMessage": "You are the Editor Agent. Your sole goal is factual accuracy.\n\nTask:\n1. Check the drafted post against the original news source and general knowledge.\n2. Verify any statistics, names, dates, or technical claims.\n3. If a fact is wrong or exaggerated, correct it and explain what you changed.\n4. If everything is correct, output the original text unchanged with FACT_CHECK: PASS at the end.\n\nRules:\n- Do NOT change the tone or style, only fix facts.\n- Do NOT add new information.\n- Preserve the exact formatting (markdown, line breaks, etc.).\n- Output the corrected/approved post text only."
        }
      },
      "id": "node-editor",
      "name": "Agent B Editor",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        900,
        550
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "You are the Brand Critic for 67lab.ai. You are the last gate before publishing.\n\nBanned Phrases (auto-reject if found):\n- In the ever-evolving landscape\n- Game-changer\n- Revolutionize / Revolutionary\n- Delve / Delving\n- Leverage / Leveraging\n- Cutting-edge\n- Seamless / Seamlessly\n- Robust\n- Synergy\n\nTask:\n1. Scan for banned phrases. If found, rewrite the sentence to be conversational and human.\n2. Check overall tone: should sound like a smart, slightly irreverent founder, not a corporate press release.\n3. Ensure the CTA is natural, not pushy.\n\nRules:\n- Preserve the platform-specific formatting.\n- Output the final polished post text only.\n- Add CRITIC: APPROVED at the very end."
        }
      },
      "id": "node-critic",
      "name": "Agent C Critic",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1200,
        550
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Generate a high-fidelity Cyberpunk Laboratory style visual for this post:\n\n={{ $json.output }}",
        "options": {
          "systemMessage": "You are the Visual Agent. Generate image prompts for an AI image generator.\n\nStyle: Cyberpunk Laboratory aesthetic - neon glows, dark backgrounds, holographic interfaces, futuristic lab equipment.\n\nOutput a detailed image generation prompt (for DALL-E / Flux / Midjourney) that matches the post content.\n\nRules:\n- Always include: cyberpunk laboratory, neon blue and purple lighting, holographic displays, dark background, ultra-detailed, 4K\n- Add content-specific elements based on the post topic.\n- Output ONLY the image prompt, nothing else."
        }
      },
      "id": "node-visual",
      "name": "Exposure Multiplier Flux",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1500,
        550
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node['GLOBAL_CONFIG'].json['WEBHOOK_PUBLISH_URL'] }}",
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"platform\": \"blog\",\n  \"content\": {{ JSON.stringify($json.output) }},\n  \"published_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "node-publish-webhook",
      "name": "Publish to 67lab.ai Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        1000
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "node-schedule-autoreply",
      "name": "Schedule Auto-Reply",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -450,
        1500
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Check latest mentions and comments across all platforms for 67lab.ai.",
        "options": {
          "systemMessage": "You are the Auto-Reply Agent. You manage community engagement for 67lab.ai.\n\nTask:\n1. Classify each user comment into one of: [Question, Praise, Criticism, Spam].\n2. Output classification as the FIRST word of your response.\n\nFor each classification:\n- Question: Draft a helpful, friendly, technically accurate response. Reference 67lab.ai products only if directly relevant.\n- Praise: Draft a short thank-you response. Be genuine, not corporate.\n- Criticism: Output only the word ESCALATE\n- Spam: Output only the word IGNORE\n\nTone: Helpful, technical, concise. No marketing fluff. Sound human."
        }
      },
      "id": "node-autoreply",
      "name": "Auto-Reply Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        50,
        1500
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.output }}",
        "rules": {
          "rules": [
            {
              "value2": "Question"
            },
            {
              "value2": "Praise"
            },
            {
              "value2": "ESCALATE"
            }
          ]
        }
      },
      "id": "node-intent-switch",
      "name": "Intent Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        300,
        1500
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Draft a helpful response to this user interaction:\n\n={{ $json.output }}",
        "options": {
          "systemMessage": "You are the Response Drafter for 67lab.ai. Write a reply that is:\n- Technically accurate\n- Concise (2-4 sentences max)\n- Friendly but not sycophantic\n- References 67lab.ai docs/products only when genuinely helpful\n\nOutput ONLY the reply text."
        }
      },
      "id": "node-draft-response",
      "name": "Draft Response",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        600,
        1400
      ]
    },
    {
      "parameters": {},
      "id": "node-escalate-telegram",
      "name": "Escalate via Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        600,
        1600
      ]
    },
    {
      "parameters": {},
      "id": "node-error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -450,
        1800
      ]
    },
    {
      "parameters": {},
      "id": "node-error-notify",
      "name": "Error Notification (Telegram)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -200,
        1800
      ]
    },
    {
      "id": "node-sticky-x",
      "name": "Sticky Note (X)",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1780,
        60
      ],
      "parameters": {
        "content": "## Publish to X\nConnect your X (Twitter) credential here.\nAdd an X node from the palette and wire it from Agent C Critic output.\nThe tweet text is in: {{ $json.output }}"
      }
    },
    {
      "parameters": {
        "content": "## Publish to LinkedIn\nConnect your LinkedIn credential here.\nAdd a LinkedIn node from the palette and wire it from Agent C Critic output.\nThe post text is in: {{ $json.output }}"
      },
      "id": "node-sticky-linkedin",
      "name": "Sticky Note (LinkedIn)",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1780,
        260
      ]
    }
  ],
  "connections": {
    "Schedule Research": {
      "main": [
        [
          {
            "node": "GLOBAL_CONFIG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GLOBAL_CONFIG": {
      "main": [
        [
          {
            "node": "Perplexity Researcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity Researcher": {
      "main": [
        [
          {
            "node": "Product Mapping Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Product Mapping Agent": {
      "main": [
        [
          {
            "node": "Agent A Creator (X)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Agent A Creator (LinkedIn)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Agent A Creator (Blog/Webhook)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent A Creator (X)": {
      "main": [
        [
          {
            "node": "Agent B Editor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent A Creator (LinkedIn)": {
      "main": [
        [
          {
            "node": "Agent B Editor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent A Creator (Blog/Webhook)": {
      "main": [
        [
          {
            "node": "Agent B Editor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent B Editor": {
      "main": [
        [
          {
            "node": "Agent C Critic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent C Critic": {
      "main": [
        [
          {
            "node": "Exposure Multiplier Flux",
            "type": "main",
            "index": 0
          },
          {
            "node": "Publish to 67lab.ai Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Auto-Reply": {
      "main": [
        [
          {
            "node": "Auto-Reply Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-Reply Agent": {
      "main": [
        [
          {
            "node": "Intent Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intent Switch": {
      "main": [
        [
          {
            "node": "Draft Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Draft Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Escalate via Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Error Notification (Telegram)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9a47db14-80d2-4ad9-a9ff-771ce2104db3",
  "meta": {
    "instanceId": "b65ef13e38b6e5c3e50996dc600128118a7c3bc750bc0e12c81bc5855e63bea2"
  },
  "tags": []
}